
h1 {
  color: #DC493A
}
h4{
  color: #4392F1;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
}
label{
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-self: center;
}
input[type="radio"] {
  display:none;
}

input[type="radio"] + label {
  color:#f2f2f2;
  font-family:Arial, sans-serif;
  font-size:14px;
}

input[type="radio"] + label span {
  display:inline-block;
  width:19px;
  height:19px;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  background:url(http://webdesigntutsplus.s3.amazonaws.com/tuts/391_checkboxes/check_radio_sheet.png) -38px top no-repeat;
  cursor:pointer;
}

input[type="radio"]:checked + label span {
  background:url(http://webdesigntutsplus.s3.amazonaws.com/tuts/391_checkboxes/check_radio_sheet.png) -57px top no-repeat;
}
input[type="text"]{
  background-color: #ECE8EF;
  border-radius: 15px;
  width: 300px;
  text-align: center;
}

::placeholder {
  color: #000000;
}

.formatBloc {
  display: flex;
  justify-content: center;
}
.formatBloc>div>label {
  margin-right: 10px;
}
